<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.DoctorsMapper" >
  <resultMap id="BaseResultMap" type="ssm.pojo.Doctors" >
    <id column="DOCID" property="docid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ROLE" property="role" jdbcType="VARCHAR" />
    <result column="REALNAME" property="realname" jdbcType="VARCHAR" />
    <result column="DEPARTID" property="departid" jdbcType="VARCHAR" />
    <result column="POSITIONAL" property="positional" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="DECIMAL" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ROCHARGE" property="rocharge" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    DOCID, NAME, PASSWORD, ROLE, REALNAME, DEPARTID, POSITIONAL, SEX, AGE, TEL, ADDRESS, 
    ROCHARGE, CREATEDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DOCTORS
    where DOCID = #{docid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DOCTORS
    where DOCID = #{docid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ssm.pojo.Doctors" >
    insert into DOCTORS (DOCID, NAME, PASSWORD, 
      ROLE, REALNAME, DEPARTID, 
      POSITIONAL, SEX, AGE, 
      TEL, ADDRESS, ROCHARGE, 
      CREATEDATE)
    values (#{docid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{departid,jdbcType=VARCHAR}, 
      #{positional,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=DECIMAL}, 
      #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{rocharge,jdbcType=DECIMAL}, 
      #{createdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="ssm.pojo.Doctors" >
    insert into DOCTORS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="docid != null" >
        DOCID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="realname != null" >
        REALNAME,
      </if>
      <if test="departid != null" >
        DEPARTID,
      </if>
      <if test="positional != null" >
        POSITIONAL,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="rocharge != null" >
        ROCHARGE,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="docid != null" >
        #{docid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="departid != null" >
        #{departid,jdbcType=VARCHAR},
      </if>
      <if test="positional != null" >
        #{positional,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="rocharge != null" >
        #{rocharge,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.pojo.Doctors" >
    update DOCTORS
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        REALNAME = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="departid != null" >
        DEPARTID = #{departid,jdbcType=VARCHAR},
      </if>
      <if test="positional != null" >
        POSITIONAL = #{positional,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=DECIMAL},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="rocharge != null" >
        ROCHARGE = #{rocharge,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where DOCID = #{docid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.pojo.Doctors" >
    update DOCTORS
    set NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR},
      DEPARTID = #{departid,jdbcType=VARCHAR},
      POSITIONAL = #{positional,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=DECIMAL},
      TEL = #{tel,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ROCHARGE = #{rocharge,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=DATE}
    where DOCID = #{docid,jdbcType=VARCHAR}
  </update>
</mapper>